<div>

    <Row>
        <Col Span="6" Class="schedule-container">
            @*カレンダーとか*@
            <SchedulingFrame/>
        </Col>
        <Col Span="18" Style="overflow-y: scroll;">
            <Row Class="input-container">
                <Col Span="24" >
                    @*詳細入力エリア*@
                    <TaskInputForm/>
                </Col>
            </Row>
            <Row Class="statistic-container">
                <Col Span="24" >
                    @*統計エリア*@
                    <StatisticFrame/>
                </Col>
            </Row>
        </Col>
    </Row>

</div>

<style>
    .schedule-container {
        height: 100vh; 
        padding: 20px;
        margin: 0px;
    }

    .input-container {
        min-height: 50vh;
        padding: 20px;
        margin: 0px;
    }

    .statistic-container {
        padding: 20px;
        margin: 0px;
    }
</style>

@code {

}
