@page "/"


<DraggablePanel GrabbingDelay="200" Moved="Callback">
    <div Top="200" style="height: 50px; width: 100px; background-color: red;"></div>
</DraggablePanel>

<DraggablePanel GrabbingDelay="200" Moved="Callback">
    <div Top="200" style="height: 50px; width: 100px; background-color: blue;"></div>
</DraggablePanel>

@code {
    private void Callback()
    {
        Console.WriteLine("move");   
    }
}